*{
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
}
body{
  margin:0;
  padding:0;
}
.Schema{display:flex;justify-content: space-between;align-items: center;}
.Schema-One{display:flex;justify-content: space-between;align-items: center;}
.Schema-Two{display:flex;justify-content: space-between;align-items: center;}
.Schema-Three{display:flex;justify-content: space-between;align-items: center;}
.Page{
  position:absolute;
  width:100%;
  height:100%;
  background-color: lightpink;
}
.Grid{
  background: lightskyblue;
  display: grid;
  grid-template-columns: auto auto auto auto;
  height:inherit;
  width:inherit;
}